.sortbar-container{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--card-color);
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 0.5rem;
}
.latest-icon{
    display: flex;
    flex-direction: column;
}
.sortbar-container button{
width:100px ;
padding: 0.5rem;
background-color: var(--selected-color);
border-radius: 5px;
}