*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #075985;
  --secondary-color:#0284c7;
  --tertiary-color:#0ea5e9;
  --selected-color:#ec4899;
  --card-color:#082f49;
}
.App {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}
li {
  list-style: none;
}
